/* -------------------------------------------- */
.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: row wrap;
}


/* TEXT ALIGNMENT */
/* -------------------------------------------- */
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}

/* -------------------------------------------- */



/* MARGINS AND PADDING */
/* -------------------------------------------- */
.margin-zero {
  margin: 0;
}
.margin-one {
  margin: 1%;
}
.margin-five {
  margin: 5%;
}
.margin-ten {
  margin: 10%;
}
.margin-zero-r {
  margin-right: 0;
}
.margin-one-r {
  margin-right: 1%;
}
.margin-five-r {
  margin-right: 5%;
}
.margin-ten-r {
  margin-right: 10%;
}
.margin-zero-l {
  margin-left: 0;
}
.margin-one-l {
  margin-left: 1%;
}
.margin-five-l {
  margin-left: 5%;
}
.margin-ten-l {
  margin-left: 10%;
}
.margin-zero-t {
  margin-top: 0;
}
.margin-one-t {
  margin-top: 1%;
}
.margin-five-t {
  margin-top: 5%;
}
.margin-ten-t {
  margin-top: 10%;
}
.margin-zero-b {
  margin-bottom: 0;
}
.margin-one-b {
  margin-bottom: 1%;
}
.margin-five-b {
  margin-bottom: 5%;
}
.margin-ten-b {
  margin-bottom: 10%;
}

.padding-zero {
  padding: 0;
}
.padding-one {
  padding: 1%;
}
.padding-five {
  padding: 5%;
}
.padding-ten {
  padding: 10%;
}
.padding-zero-l {
  padding-left: 0;
}
.padding-one-l {
  padding-left: 1%;
}
.padding-five-l {
  padding-left: 5%;
}
.padding-ten-l {
  padding-left: 10%;
}
.padding-zero-r {
  padding-right: 0;
}
.padding-one-r {
  padding-right: 1%;
}
.padding-five-r {
  padding-right: 5%;
}
.padding-ten-r {
  padding-right: 10%;
}
.padding-zero-t {
  padding-top: 0;
}
.padding-one-t {
  padding-top: 1%;
}
.padding-five-t {
  padding-top: 5%;
}
.padding-ten-t {
  padding-top: 10%;
}
.padding-zero-b {
  padding-bottom: 0;
}
.padding-one-b {
  padding-bottom: 1%;
}
.padding-five-b {
  padding-bottom: 5%;
}
.padding-ten-b {
  padding-bottom: 10%;
}

/* -------------------------------------------- */



/* STANDARD CONTAINERS */
/* -------------------------------------------- */

.box-normal-flattop {
  padding: 1%;
  background: inherit;
  border: 0.1em solid inherit;
  border-radius: 1%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  position: relative;
}
.box-normal {
  padding: 1%;
  background: inherit;
  border: 0.1em solid inherit;
  border-radius: 1%;
  position: relative;
}
.box-small {
  padding: 1%;
  border: 0.1em solid inherit;
  border-radius: 1%;
  position: relative;
}

.box-login {
  margin: 10%;
  margin-left: auto;
  margin-right: auto;
  display:block;
  padding:1%;
  position: relative;
}
.box-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:auto;
  /* in case second colour doesnt work */
  background: rgb(0,0,0);
  background: rgba(0, 0, 0, 0.5);
}
.box-form {
  position: relative;
  border: 0.1em:
  padding: 0.4em;
  display: block;
  overflow:auto;
}
.item-form {
  border: 0.1em solid rgba(20,20,20,1);
  border-radius: 0.3em;
  margin: 0.5em;
  padding: 0.4em;
}
.item-form:hover {
  box-shadow: 0 0 2px;
}
.item-file-upload {
  content: "Upload Image";
}

/* -------------------------------------------- */



/* GRID SETTINGS */
/* -------------------------------------------- */
.flex-grid-row {
  margin: 5%;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: stretch;
}
.flex-grid-row-reverse {
  display: flex;
  flex-direction: row-reverse wrap;
  justify-content: space-between;
  align-items: stretch;
}
.flex-grid-column {
  display: flex;
  flex-direction: column wrap;
  justify-content: space-between;
  align-items: stretch;
}
.flex-grid-column-reverse {
  display: flex;
  flex-direction: column-reverse wrap;
  justify-content: space-between;
  align-items: stretch;
}

.flex-order-one {
  order: 1;
}
.flex-order-two {
  order: 2;
}
.flex-order-three {
  order: 3;
}
.flex-order-four {
  order: 4;
}
.flex-order-five {
  order: 5;
}
.flex-order-six {
  order: 6;
}
.flex-order-seven {
  order: 7;
}
.flex-order-eight {
  order: 8;
}
.flex-order-nine {
  order: 9;
}
.flex-order-ten {
  order: 10;
}

.flex-size-one {
  flex: 1 1 100px;
}
.flex-size-two {
  flex: 2 1 200px;
}
.flex-size-three {
  flex: 3 1 300px;
}
.flex-size-four {
  flex: 4 1 400px;
}
.flex-size-five {
  flex: 5 1 500px;
}
.flex-size-six {
  flex: 6 1 600px;
}

/* -------------------------------------------- */



/* PICTURE SETTINGS */
/* -------------------------------------------- */

.img-fluidic {
  max-width: 100%;
  height: auto;
}
.img-thumb {
  border: 1px solid #ddd;
  border-radius: 2%;
  padding: 1%;
  max-width: 100%;
  height: auto;
  margin-bottom: 1%;
}

.img-thumb:hover {
  box-shadow: 0 0 2px rgba(0, 150, 190, 0.5);
}

/* -------------------------------------------- */



/* COLOR SETTINGS */
/* -------------------------------------------- */

.back-white {
  background: white;
}
.back-black {
  background: black;
}
.back-dark {
  background: rgba(20,20,20,1);
}
.back-light {
  background: rgba(247,247,247,1);
}
.back-blue {
  background: rgba(40,110,215,1);
}
.back-red {
  background: rgba(210,45,45,1);
}
.back-green {
  background: rgba(55,180,85,1);
}
.text-light {
  color: rgba(247,247,247,1);
}
.text-dark {
  color: rgba(20,20,20,1);
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-blue {
  color: rgba(40,110,215,1);
}
.text-red {
  color: rgba(210, 45, 45, 1);
}
.text-green {
  color: rgba(55,180,85,1);
}
.border-blue {
  border: 0.1em solid rgba(40,110,215,1);
}
.border-red {
  border: 0.1em solid rgba(210,45,45,1);
}
.border-green {
  border: 0.1em solid rgba(55,180,85,1);
}
.border-dark {
  border: 0.1em solid rgba(20,20,20,1);
}
.border-light {
  border: 0.1em solid rgba(247,247,247,1);
}
.border-radius {
  border-radius: 0.25em;
}
/* -------------------------------------------- */



/* a tag variables and buttons etc WORK IN PROGRESS*/
/* -------------------------------------------- */

.button-large-blue {
  display: inline-block;
  padding: 0.15em 0.3em;
  font-size: 1.5em;
  cursor:pointer;
  border: 0.1em solid rgba(40,110,215,1);
  border-radius: 0.25em;
  text-decoration: none;
  background: rgba(40,110,215,1);
  text-align: center;
  outline: none;
}
.button-large-blue:hover {
  background: rgba(30,100,205,1);
}
.button-large-blue:active {
  background: rgba(40,110,215,1);
}

.button-large-red {
  display: inline-block;
  padding: 0.15em 0.3em;
  font-size: 1.5em;
  cursor:pointer;
  border: 0.1em solid rgba(210,45,45,1);
  border-radius: 0.25em;
  text-decoration: none;
  background: rgba(210,45,45,1);
  text-align: center;
  outline: none;
}
.button-large-red:hover {
  background: rgba(200,35,35,1);
}

.button-large-red:active {
  background: rgba(210,45,45,1);
}

.button-large-green {
  display: inline-block;
  padding: 0.15em 0.3em;
  font-size: 1.5em;
  cursor:pointer;
  border: 0.1em solid rgba(55,180,85,1);
  border-radius: 0.25em;
  text-decoration: none;
  background: rgba(55,180,85,1);
  text-align: center;
  outline: none;
}

.button-large-green:hover {
  background: rgba(45,170,75,1);
}

.button-large-green:active {
  background: rgba(55,180,85,1);
}

.button-normal-blue {
  display: inline-block;
  padding: 0.1em 0.2em;
  font-size: 1em;
  cursor:pointer;
  border: 0.1em solid rgba(40,110,215,1);
  border-radius: 0.25em;
  text-decoration: none;
  background: rgba(40,110,215,1);
  text-align: center;
  outline: none;
}

.button-normal-blue:hover {
  background: rgba(30,100,205,1);
}

.button-normal-blue:active {
  background: rgba(40,110,215,1);
}
.button-normal-red {
  display: inline-block;
  padding: 0.1em 0.2em;
  font-size: 1em;
  cursor:pointer;
  border: 0.1em solid rgba(210,45,45,1);
  border-radius: 0.25em;
  text-decoration: none;
  background: rgba(210,45,45,1);
  text-align: center;
  outline: none;
}

.button-normal-red:hover {
  background: rgba(200,35,35,1);
}

.button-normal-red:active {
  background: rgba(210,45,45,1);
}
.button-normal-green {
  display: inline-block;
  padding: 0.1em 0.2em;
  font-size: 1em;
  cursor:pointer;
  border: 0.1em solid rgba(55,180,85,1);
  border-radius: 0.25em;
  text-decoration: none;
  background: rgba(55,180,85,1);
  text-align: center;
  outline: none;
}

.button-normal-green:hover {
  background: rgba(45,170,75,1);
}

.button-normal-green:active {
  background: rgba(55,180,85,1);
}

.button-outline-blue {
  display: inline-block;
  padding: 0.1em 0.2em;
  font-size: 1em;
  cursor:pointer;
  border:0.1em solid rgba(40,110,215,1);
  border-radius: 0.25em;
  text-decoration: none;
  background: rgba(247,247,247,1);
  text-align: center;
  outline: none;
}
.button-outline-blue:hover {
  background: rgba(237,237,237,1);
}
.button-outline-blue:active {
  background: rgba(247,247,247,1);
}

.button-outline-red {
  display: inline-block;
  padding: 0.1em 0.2em;
  font-size: 1em;
  cursor:pointer;
  border: 0.1em solid rgba(210,45,45,1);
  border-radius: 0.25em;
  text-decoration: none;
  background: rgba(247,247,247,1);
  text-align: center;
  outline: none;
}
.button-outline-red:hover {
  background: rgba(237,237,237,1);
}
.button-outline-red:active {
  background: rgba(247,247,247,1);
}
.button-outline-green {
  display: inline-block;
  padding: 0.1em 0.2em;
  font-size: 1em;
  cursor:pointer;
  border: 0.1em solid rgba(55,180,85,1);
  border-radius: 0.25em;
  text-decoration: none;
  background: rgba(247,247,247,1);
  text-align: center;
  outline: none;
}
.button-outline-green:hover {
  background: rgba(237,237,237,1);
}
.button-outline-green:active {
  background: rgba(247,247,247,1);
}
.button-outline-dark {
  display: inline-block;
  padding: 0.1em 0.2em;
  font-size: 1em;
  cursor:pointer;
  border: 0.1em solid rgba(20,20,20,1);
  border-radius: 0.25em;
  text-decoration: none;
  background: rgba(247,247,247,1);
  text-align: center;
  outline: none;
}
.button-outline-dark:hover {
  background: rgba(237,237,237,1);
}
.button-outline-dark:active {
  background: rgba(247,247,247,1);
}



.modal-content {
  background-color: rgba(247,247,247,1);
  margin: 20% auto;
  padding: 4%;
  width:70% !important;
  border: 0.1em solid rgba(20,20,20,1);
  border-radius: 5%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),0 4px 6px 0 rgba(0, 0, 0, 0.18);
  animation: slowappearfadein;
  animation-duration: 1s;
}

.modal-section {
  padding: 0.4% 4%;
}



.close {
  color: rgba(20,20,20,1);
  float: right;
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  right: 1%;
  top: 0;
}

.close:focus,
.close:hover {
  color: rgba(10,10,10,1);
}

.display-hide {
  display: none;
}
/* -------------------------------------------- */



/* POSITIONING */
/* -------------------------------------------- */
.position-top {
  position: absolute;
  top: 0;
}
.position-right {
  position: absolute;
  right: 0;
}
.position-left {
  position: absolute;
  left: 0;
}
.position-bottom {
  position: absolute;
  bottom: 0;
}
.position-center {
  position: absolute;
  top:25%;
  left:25%;
}

.sticky-top {
  position: sticky;
  top: 0px;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}

.position-b-r-corner {
  position: absolute;
  bottom: 1%;
  right: 1%;
}
.position-b-l-corner {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.display-i-block {
  display: inline-block;
}
.wide-lr-padding {
  padding-left: 4em;
  padding-right: 4em;
}

/* -------------------------------------------- */



/* FONTS */
/* -------------------------------------------- */
.font-one {
  font-family: arial;
}
.font-two {
  font-family: helvetica;
}
.font-three {
  font-family: georgia;
}
.font-bold {
  font-weight: bold;
}
.font-style-italic {
  font-style: italic;
}
.font-style-normal {
  font-style: normal;
}
.font-large {
  font-size: 1.3em;
}
/* -------------------------------------------- */



/* NAVBARS */
/* -------------------------------------------- */

.navNavbar {
  position: sticky;
  top: 0;
  background-color: rgb(70, 70, 70);
  overflow: hidden;
}

.navNavGroup {
  display: contents;
}

.navNavItem {
  font-size: 15px;
  display: block;
  text-align: center;
  padding: 15px;
  width: 80px;
  height: 50px;
  float: left;
  text-decoration: none;
  color: rgb(247, 247, 247);
}

.navNavItem:hover {
  color: rgb(247, 247, 247);
  text-decoration: none;
  background-color: rgb(80, 80, 80);
}


.navActive {
  font-size: 18px;
  padding: 12px;
  background-color: rgb(115, 90, 235);
}

.navActive:hover {
  background-color: rgb(105, 80, 225);
}

.navHide {
  display: none;
}

.navHamBurger {
  position: absolute;
  right: -10px;
  top: 0;
  width: 50px;
  height: 50px;
  font-size: 22px;
  padding: 10px;
  color: rgb(247, 247, 247);
}

.navHamBurger:hover {
  background-color: rgb(80, 80, 80);
}

.navItemHamDown {
  display: block;
  float: none;
  text-align: left;
  width:100%;
}

.navHamBurgerDown {
  padding: 10px;
  width: 50px;
}
.navHamBurgerDown:hover {
  width: 50px;
  background-color: rgb(105, 80, 225);
}

@media screen and (max-width: 900px) {
  .checkDisplay {
    display: none;
  }
  .navHamBurger {
    display: inherit;
  }
}

.navDisabled {
  cursor: not-allowed;
  color: rgb(207, 207, 207);
  pointer-events: none;
}

/* -------------------------------------------- */



/* CAROUSEL */
/* -------------------------------------------- */

.carouselContainer {
  width: 1000px;
  position: relative;
  margin: auto;
}

.carouselItem {
  display: none;
}

.carouselLeftButton {
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 90%;
  padding: 25% 15px 15px 15px;
  width: auto;
  left: 0;
  color: rgb(247, 247, 247) !important;
  border-radius: 0 3px 3px 0;
  font-size: 18px;
  transition: 0.5s ease;
}

.carouselRightButton  {
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 90%;
  padding: 25% 15px 15px 15px;
  width: auto;
  right: 0;
  color: rgb(247, 247, 247) !important;
  border-radius: 3px 0 0 3px;
  font-size: 18px;
  transition: 0.5s ease;
}

.carouselLeftButton:hover, .carouselRightButton:hover {
  background-color: rgba(0,0,0,0.75);
}

.carouselCenterText {
  background-color: rgba(247,247,247,0.75);
  color: rgb(247, 247, 247);
  height: 10%;
  font-size: 14px;
  padding: 1.5% 9px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.fadePartial {
    animation-name: fadePartial;
    animation-duration: 1.2s;
}


/* -------------------------------------------- */


/* KEYFRAMES */

@keyframes fadePartial {
  0% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slowappear {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fadein {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: inherit;
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    display: inherit;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes slowappearfadein {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(-500px);
  }
  100% {
    display: inherit;
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slowdisappearfadeout {
  0% {
    display: inherit;
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateY(-500px);
  }
}
